<section class="section section-advantage">
	<div class="container">
		<div class="advantage__container flex">
			<div class="advantage-info__wrapper">
				<div class="advantage-info__header">
					<h2 class="section-title">Light, Fast & Powerful</h2>
				</div>
				<div class="advantage-info__content">
					<p class="advantage-info__txt">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus</p> 
					<p class="advantage-info__txt">mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>
				</div> 
				<div class="advantage-info__footer flex">
					<article class="advantage-article">
						<img class="advantage-article__img" src="./assets/images/icons/advantage.svg" alt="article description">
						<h3 class="advantage-article__title">Title Goes Here</h3>
						<p class="advantage-article__txt">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. </p>
					</article>
					<article class="advantage-article">
						<img class="advantage-article__img" src="./assets/images/icons/advantage.svg" alt="article description">
						<h3 class="advantage-article__title">Title Goes Here</h3>
						<p class="advantage-article__txt">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. </p>
					</article>
				</div>
			</div>
			<div class="advantage-img__wrapper">
				<img src="./assets/images/advantage/advantage.jpg" alt="advantage description">
			</div>
		</div>
	</div>
</section>