<section class="section section-hero">
	<div class="container">
		<div class="hero__container">
			<div class="hero__header">
				<h1>Introduce Your Product Quickly & Effectively</h1>
			</div>
			<div class="hero__content">
				<p class="hero__txt">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus</p> 
				<p class="hero__txt">mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>
			</div>
			<div class="hero__footer">
				<div class="btn-box">
					<a href="#" class="btn btn-primary btn-lg">Purchase UI Kit</a>
					<a href="#" class="btn btn-transparent btn-lg">Learn More</a>
				</div>
			</div>
		</div>
	</div>
</section>