<section class="section section-price">
	<div class="container">
		<div class="price__card center">
			<div class="price__header">
				<h2 class="section-title">A Price To Suit Everyone</h2>
			</div>
			<div class="price__content">
				<p class="price__txt">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus </p>
				<span class="price__cost">$40</span>
				<span class="price__description">UI Design Kit</span>
			</div> 
			<div class="price__footer">
				<span class="price__info">See, One price. Simple.</span>
				<a href="#" class="btn btn-primary btn-lg">Purchase Now</a>
			</div>
		</div>
	</div>
</section>