<section class="section section-service">
	<div class="container">
		<div class="service__card flex flex-between">
			<div class="service-img__wrapper">
				<img src="./assets/images/service/girl.jpg" alt="service description">
			</div>
			<div class="service-info__wrapper">
				<div class="service-info__header">
					<h2 class="section-title">Light, Fast & Powerful</h2>
				</div>
				<div class="service-info__content">
					<p class="service-info__txt">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus</p> 
					<p class="service-info__txt">mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>
				</div> 
			</div>
		</div>
		<div class="service__card flex flex-between">
			<div class="service-img__wrapper">
				<img src="./assets/images/service/phone.jpg" alt="service description">
			</div>
			<div class="service-info__wrapper">
				<div class="service-info__header">
					<h2 class="section-title">Light, Fast & Powerful</h2>
				</div>
				<div class="service-info__content">
					<p class="service-info__txt">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus</p> 
					<p class="service-info__txt">mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>
				</div> 
			</div>
		</div>
		<div class="service__card flex flex-between">
			<div class="service-img__wrapper">
				<img src="./assets/images/service/mail.jpg" alt="service description">
			</div>
			<div class="service-info__wrapper">
				<div class="service-info__header">
					<h2 class="section-title">Light, Fast & Powerful</h2>
				</div>
				<div class="service-info__content">
					<p class="service-info__txt">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus</p> 
					<p class="service-info__txt">mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>
				</div> 
			</div>
		</div>
	</div>
</section>