<footer class="footer__wrapper">
	<div class="container">
		<div class="footer__top">
			<span class="footer__copy">©2020 Yourcompany</span>
			<a href="#" class="logo">Landie</a>
			<a href="#" class="btn btn-primary btn-l">Purchase Now</a>
		</div>
		<div class="footer__bottom">
			<nav class="navigation">
				<ul class="navigation__list">
					<li class="navigation__item">
						<a href="#" class="navigation__link">Home</a>
					</li>
					<li class="navigation__item">
						<a href="#" class="navigation__link">About</a>
					</li>
					<li class="navigation__item">
						<a href="#" class="navigation__link">Contact</a>
					</li>
				</ul>
			</nav>
			<ul class="social__list">
				<li class="social__item">
					<a href="#" class="social__link">
						<i class="icon-facebook"></i>
					</a>
				</li>
				<li class="social__item">
					<a href="#" class="social__link">
						<i class="icon-linkedin2"></i>
					</a>
				</li>
				<li class="social__item">
					<a href="#" class="social__link">
						<i class="icon-twitter"></i>
					</a>
				</li>
				<li class="social__item">
					<a href="#" class="social__link">
						<i class="icon-youtube"></i>
					</a>
				</li>
				<li class="social__item">
					<a href="#" class="social__link">
						<i class="icon-instagram"></i>
					</a>
				</li>
			</ul>
		</div>
	</div>
</footer>
