<header class="header">
	<div class="container">
		<div class="header__container">
			<div class="menu-btn">
				<div class="menu-btn__burger"></div>
			</div>
			<div class="navigation__wrapper">
				<nav class="navigation">
					<ul class="navigation__list">
						<li class="navigation__item">
							<a href="#" class="navigation__link">Home</a>
						</li>
						<li class="navigation__item">
							<a href="#" class="navigation__link">About</a>
						</li>
						<li class="navigation__item">
							<a href="#" class="navigation__link">Contact</a>
						</li>
					</ul>
				</nav>
			</div>
			<div class="logo__container">
				<a href="#" class="logo">Landie</a>
			</div>
			<div class="account__wrapper">
				<ul class="account__list">
					<li class="account__item">
						<a href="#" class="account__link btn btn-primary btn-sm">Buy now</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</header>
